{% load custom_filters %}
<tr class="single-item" id="item-{{ model_name }}-{{ obj.id }}" hx-swap="outerHTML swap:.5s">
    <td colspan="9">
        <form hx-post="{% url 'generic_edit_view' model_name obj.id %}" hx-target="#item-{{ model_name }}-{{ obj.id }}">
            <table class="table">
                <tr>
                    {% for field in form.visible_fields %}
                    <td>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </td>
                    {% endfor %}
                    <td>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success" style="margin-right: 2px;">Kaydet</button>
                            <button type="button" class="btn btn-danger" hx-get="{% url 'generic_cancel_view' model_name obj.id %}" hx-target="#item-{{ model_name }}-{{ obj.id }}">İptal</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
