{% load custom_filters %}
<td colspan="11">
    {% if sub_item_type == "Other Price" %}
        <form method="POST" hx-post="{% url 'update_operation_sub_item' sub_item.id "other_price" %}" hx-target="#sub_item-{{ sub_item.id }}" hx-swap="innerHTML">
    {% else %}
        <form method="POST" hx-post="{% url 'update_operation_sub_item' sub_item.id sub_item_type|lower %}" hx-target="#sub_item-{{ sub_item.id }}" hx-swap="innerHTML">
    {% endif %}
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col align-self-end">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            {% endfor %}
            <div class="col align-self-end">
                <button class="btn btn-sm btn-success" type="submit">Kaydet</button>
            </div>
        </div>
        
    </form>
</td>
