{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/dataTables.bs5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify-data.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/quill.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2-theme.min.css' %}">
{% endblock extra_css %}
{% block content %}
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ title|upper }}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">{{ title|upper }} {{ request.user.employees.first.branch.company.name}}</li>
                </ul>
            </div>
            <div class="page-header-right ms-auto">
                <div class="page-header-right-items">
                    <div class="d-flex d-md-none">
                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                            <i class="feather-arrow-left me-2"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                        <a href="javascript:void(0);" class="btn btn-icon btn-light-brand" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">
                            <i class="feather-bar-chart"></i>
                        </a>
                        <div class="dropdown">
                            <a class="btn btn-icon btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 12" data-bs-auto-close="outside">
                                <i class="feather-filter"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-eye me-3"></i>
                                    <span>All ({{ all_count }})</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                {% for field in field_labels %}
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <i class="feather-filter me-3"></i>
                                        <span>{{ field|upper }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="dropdown">
                            <a class="btn btn-icon btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 12"
                                data-bs-auto-close="outside">
                                <i class="feather-paperclip"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-pdf me-3"></i>
                                    <span>PDF</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-csv me-3"></i>
                                    <span>CSV</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-xml me-3"></i>
                                    <span>XML</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-txt me-3"></i>
                                    <span>Text</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-exe me-3"></i>
                                    <span>Excel</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-printer me-3"></i>
                                    <span>Print</span>
                                </a>
                            </div>
                        </div>
                        <button hx-post="{% url 'generic_create_view' model_name %}" 
                            hx-include="form" 
                            hx-swap="beforeend" 
                            hx-target="#item-lists" 
                            hx-on="htmx:afterRequest: clearForm()"
                            class="btn btn-primary">
                        <i class="feather-plus me-2"></i>
                        <span>New {{ title|upper }}</span>
                    </button>
                    <script>
                        function clearForm() {
                            const form = document.getElementById('my-form');
                            form.reset(); // Formu temizler
                        }
                    </script>
                        
                    </div>
                </div>
                <div class="d-md-none d-flex align-items-center">
                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                        <i class="feather-align-right fs-20"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse page-header-collapse">
            <div class="accordion-body pb-2">
                <div class="row">
                    <div class="col-xxl-4 col-md-4">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">All</span>
                                        <span class="fs-20 fw-bold d-block">{{ all_count }}</span>
                                    </a>
                                    <div class="progress-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-4">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Active</span>
                                        <span class="fs-20 fw-bold d-block">{{ active_count }}</span>
                                    </a>
                                    <div class="progress-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-md-4">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Deactive</span>
                                        <span class="fs-20 fw-bold d-block">{{ deleted_count }}</span>
                                    </a>
                                    <div class="progress-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ page-header ] end -->
        <!-- [ Main Content ] start -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">
                        <div class="card-body p-5">
                            {% include 'main/includes/generic/generic-form.html' %}                                                   
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover" id="proposalList">
                                    <thead>
                                        <tr>
                                            <th class="wd-30">
                                                <div class="btn-group mb-1">
                                                    <div class="custom-control custom-checkbox ms-1">
                                                        <input type="checkbox" class="custom-control-input" id="checkAllProposal">
                                                        <label class="custom-control-label" for="checkAllProposal"></label>
                                                    </div>
                                                </div>
                                            </th>
                                            {% for label in field_labels %}
                                                <th>{{ label }}</th>
                                            {% endfor %}
                                            <th class="text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="item-lists">
                                        {% for obj in objects_data %}
                                            {% include 'main/includes/generic/generic-list.html' %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <!-- [ Footer ] start -->
    <footer class="footer">
        <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
            <span>Copyright ©</span>
            <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
        <div class="d-flex align-items-center gap-4">
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
        </div>
    </footer>
    <!-- [ Footer ] end -->
</main>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'dashboard/assets/vendors/js/circle-progress.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/dataTables.bs5.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/tagify.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/tagify-data.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/quill.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/select2.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/select2-active.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/proposal-init.min.js' %}"></script>
{% endblock extra_js %}