{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify-data.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/quill.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/dataTables.bs5.min.css' %}">

{% endblock extra_css %}
{% block content %}
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ title }}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">{{ title }}</li>
                </ul>
            </div>
            <div class="page-header-right ms-auto">
                <div class="page-header-right-items">
                    <div class="d-flex d-md-none">
                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                            <i class="feather-arrow-left me-2"></i>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                        <a href="javascript:void(0);" class="btn btn-icon btn-light-brand" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">
                            <i class="feather-bar-chart"></i>
                        </a>
                        <div class="dropdown">
                            <a class="btn btn-icon btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 12"
                                data-bs-auto-close="outside">
                                <i class="feather-filter"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-eye me-3"></i>
                                    <span>All</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-send me-3"></i>
                                    <span>Sent</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-book-open me-3"></i>
                                    <span>Open</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-archive me-3"></i>
                                    <span>Draft</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-bell me-3"></i>
                                    <span>Revised</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-shield-off me-3"></i>
                                    <span>Declined</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-check me-3"></i>
                                    <span>Accepted</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-briefcase me-3"></i>
                                    <span>Leads</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-wifi-off me-3"></i>
                                    <span>Expired</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-users me-3"></i>
                                    <span>Customers</span>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="btn btn-icon btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 12"
                                data-bs-auto-close="outside">
                                <i class="feather-paperclip"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-pdf me-3"></i>
                                    <span>PDF</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-csv me-3"></i>
                                    <span>CSV</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-xml me-3"></i>
                                    <span>XML</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-txt me-3"></i>
                                    <span>Text</span>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-filetype-exe me-3"></i>
                                    <span>Excel</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="bi bi-printer me-3"></i>
                                    <span>Print</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-md-none d-flex align-items-center">
                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                        <i class="feather-align-right fs-20"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse page-header-collapse">
            <div class="accordion-body pb-2">
                <div class="row">
                    <div class="col-xxl-3 col-md-6">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Paid</span>
                                        <span class="fs-20 fw-bold d-block">78/100</span>
                                    </a>
                                    <div class="progress-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Unpaid</span>
                                        <span class="fs-20 fw-bold d-block">38/50</span>
                                    </a>
                                    <div class="progress-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Overdue</span>
                                        <span class="fs-20 fw-bold d-block">15/30</span>
                                    </a>
                                    <div class="progress-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="javascript:void(0);" class="fw-bold d-block">
                                        <span class="d-block">Draft</span>
                                        <span class="fs-20 fw-bold d-block">3/10</span>
                                    </a>
                                    <div class="progress-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                {% for day, operations in operation_days_by_date.items %}
                <!-- Tarihe Göre Ana Card -->
                <div class="col-lg-12 mb-4">
                    <div class="card stretch stretch-full">
                        <div class="card-header p-3">
                            <h3 class="card-title">{{ day|date:"d.m.Y" }}</h3>
                        </div>
                        <div class="card-body p-3">
                            {% for operation in operations %}
                            <div class="accordion accordion-flush" id="operationAccordion-{{ operation.ticket }}-{{ day|date:"d-m-Y" }}-{{ forloop.counter }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="operation-heading-{{ operation.ticket }}-{{ forloop.counter }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#operation-collapse-{{ operation.ticket }}-{{ day|date:"d-m-Y" }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="operation-collapse-{{ operation.ticket }}-{{ day|date:"d-m-Y" }}-{{ forloop.counter }}">
                                            {{ operation.ticket }}
                                        </button>
                                    </h2>
                                    <div id="operation-collapse-{{ operation.ticket }}-{{ day|date:"d-m-Y" }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="operation-heading-{{ operation.ticket }}-{{ forloop.counter }}" data-bs-parent="#operationAccordion-{{ operation.ticket }}-{{ day|date:"d-m-Y" }}-{{ forloop.counter }}">
                                        <div class="accordion-body">
                                            {% for job in operation.jobs %}
                                                {% if job.attributes %}
                                                <h5>İş</h5>
                                                <table class="table table-bordered text-center mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            {% for key in job.attributes.keys %}
                                                            <th>
                                                                {% if key == "vehicle_type" %} Araç Tipi
                                                                {% elif key == "driver_name" %} Şoför Adı
                                                                {% elif key == "driver_phone" %} Şoför Telefon
                                                                {% elif key == "vehicle_plate" %} Araç Plakası
                                                                {% elif key == "pickup_time" %} Alış Saati
                                                                {% elif key == "pickup_location" %} Alış Yeri
                                                                {% elif key == "cost_price" %} Maliyet Fiyatı
                                                                {% elif key == "cost_currency" %} Maliyet Birimi
                                                                {% elif key == "sell_price" %} Satış Fiyatı
                                                                {% elif key == "sell_currency" %} Satış Birimi
                                                                {% elif key == "tour" %} Araçsız Tur
                                                                {% elif key == "activity" %} Araçsız Aktivite
                                                                {% else %} {{ key|upper }}
                                                                {% endif %}
                                                            </th>
                                                            {% endfor %}
                                                            <th class="text-end me-4">İşlemler</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="tr-{{ job.job_id }}">
                                                            {% include "main/includes/operations/job_item.html" %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                <p class="mb-0">No attributes found.</p>
                                                {% endif %}
                                                {% if job.grouped_sub_items %}
                                                    {% for sub_item_type, sub_items_group in job.grouped_sub_items.items %}
                                                    <table class="table table-striped mt-2 text-center">
                                                        <thead class="table-light">
                                                            <tr>
                                                                <th>Tür</th>
                                                                {% for key in sub_items_group.0.attributes.keys %}
                                                                <th>
                                                                    {% if key == "tour" %}Tur
                                                                    {% elif key == "transfer" %}Transfer
                                                                    {% elif key == "guide" %}Rehber
                                                                    {% elif key == "hotel" %}Otel
                                                                    {% elif key == "cost_price" %} Maliyet Fiyatı
                                                                    {% elif key == "cost_currency" %} Maliyet Birimi
                                                                    {% elif key == "sell_price" %} Satış Fiyatı
                                                                    {% elif key == "sell_currency" %} Satış Birimi
                                                                    {% elif key == "other_price" %} Diğer Fiyatı
                                                                    {% elif key == "other_currency" %} Diğer Birimi
                                                                    {% elif key == "mini_desc" %} Açıklama
                                                                    {% else %}{{ key|upper }}
                                                                    {% endif %}
                                                                </th>
                                                                {% endfor %}
                                                                <th>Sıra</th>
                                                                <th class="text-end me-4">İşlemler</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for sub_item in sub_items_group %}
                                                            <tr id="sub_item-{{ sub_item.sub_item_id }}">
                                                                {% include "main/includes/operations/job_sub_item.html" %}
                                                            </tr>
                                                            {% empty %}
                                                            <tr>
                                                                <td colspan="5">No sub items found.</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <hr>
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No sub items found.</p>
                                                {% endif %}
                                            {% empty %}
                                                <p>No jobs found.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

    </div>
</main>

{% endblock content %}
{% block extra_js %}
<script src="{% static 'dashboard/assets/vendors/js/tagify.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/tagify-data.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/select2.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/select2-active.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/quill.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/circle-progress.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendors/js/dataTables.bs5.min.js' %}"></script>


{% endblock extra_js %}