{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/tagify-data.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/quill.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/select2-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/vendors/css/datepicker.min.css' %}">
{% endblock extra_css %}
{% block content %}
<main class="nxl-container">
    {% include 'main/includes/operations/operation_day_items.html' %}
</main>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'dashboard/assets/vendors/js/tagify.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/js/tagify-data.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/js/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/js/select2.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/js/select2-active.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendors/js/datepicker.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/proposal-create-init.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>

{% endblock extra_js %}